i {
    border: solid black;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
}

.right {
    cursor: pointer;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    cursor: pointer;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}